
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Great+Vibes&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,800&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100&family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');

body{
    font-family: 'Playfair Display', serif;
}


.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px #333;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
    color: rgb(9, 9, 9);
    font-size: 30px;
    font-weight: 600;
    font-family: 'Great Vibes', cursive;
}

.nav-logo p span{
    color: #FFD700;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #000;
    font-size: 30px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #f7de4f;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    width: 120px;
    height: 48px;
    outline: none;
    border: 1px solid rgb(190, 182, 131);
    border-radius: 75px;
    color: #161616;
    font-size: 20px;
    font-weight: 500;
    background: #fff;
    cursor: pointer;
}

.nav-login-cart button:active{
    background: #f3f3f3;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: #000;
    color: white;
}

